.title {
  animation: left-to-right 1s ease-in-out;
}

@keyframes left-to-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.text {
  animation: bottom-to-top 1s ease-in-out 1s;
  animation-fill-mode: backwards;
}

@keyframes bottom-to-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.imageWrapper {
  border: 1px solid black;
  height: 200px;
  background: gray;
  position: relative;
}

.imageWrapper button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blur img {
  filter: blur(10px);
}

.imageWrapper img {
  opacity: 5;
  transition: 1s;
}

.showImage img {
  opacity: 1;
}

.hidden {
  display: none;
}
