.title {
  animation: left-to-right 1s ease-in-out;
}

@keyframes left-to-right {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.text {
  animation: bottom-to-top 1s ease-in-out 1s;
  animation-fill-mode: before;
}

@keyframes bottom-to-top {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
