.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;

  border: 1px solid black;
  background-color: white;
  width: 30rem;
  padding: 3rem 0;
}

.form input {
  padding: 0.5rem 1rem;
}

.form p {
  color: tomato;
  font-size: 0.75rem;
}
