:root {
  --overflow: auto;
  --padding-right: 0;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: var(--overflow);
  padding-right: var(--padding-right);
}
