.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dishes {
  display: grid;
  grid-template-columns: repeat(auto-fit, 345px);
  align-items: start;
  justify-content: space-between;
  gap: 50px 25px;
}

.buttonGroup {
  display: flex;
}
