.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dishes {
  display: flex;
  flex-flow: row wrap;
  row-gap: 5rem;
  column-gap: 5rem;
}

.buttonGroup {
  display: flex;
}
