.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dishes {
  display: flex;
  flex-flow: row wrap;
  gap: 5rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.buttonGroup {
  display: flex;
}
