.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dishes {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(auto-fill, 200px);
  gap: 1rem;
  width: 100%;
}

.buttonGroup {
  display: flex;
}
